@using WinMonitorApp.Models

<span style="float:left; font-size:larger; font-weight:500; margin-left:10px; margin-top:20px;">Account</span>
<button class = "btn btn-link btn-lg" style="float:right; color: #67747c; margin-right:10px;" id="btnmodal" onclick="addAccountCompanyDashboard()"> 
       Add Account
</button>
<button class = "btn btn-link btn-lg" style="float:right; color: #67747c; margin-right:10px;" onclick="addNewDataCenter()"> 
       Add Data Center
</button>


<br><br><hr /><br>
<div class="table-responsive">
<table class=" table table-hover CompanyDashboardTable" id="companytable">                                                                 <!-- Company Table-->
    
    <thead>
        <tr>
            <td>
                Select
            </td>
            <td>
                Account#
            </td>
            <td>
                Name
            </td>
            <td>
                URL
            </td>
            <td>
                Primary Server
            </td>
            <td>
                Secondary Server
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var CompanyObj in Model)
        {
            <tr style="font-size:medium; font-weight:500; color:black;">
                <td ><input type="radio" name="radioCompanySelect"/></td>
                 <td id="RazorCompanyId" >@CompanyObj.DBCompanyId</td>
                 <td id="RazorCompanyName" >@CompanyObj.DBCompanyName</td>
                 <td id="RazorURL" >@CompanyObj.DBURL</td>
                 <td id="RazorPrimary">@CompanyObj.DBPrimaryCenter</td>
                 <td id ="RazorSecondary">@CompanyObj.DBSecondaryCenter</td>
            </tr>
        }
    </tbody>
</table>
</div>
<br /><br />

<!--to add custom.js functions after body load-->
<script src="~/Scripts/custom.js"></script>


<!--modal-->
   <div class = "modal fade" id = "addCompanyAccountModal" tabindex = "-1" role = "dialog" aria-labelledby = "addCompanyAccountModalLabel" aria-hidden = "true" >
                <div class = "modal-dialog">
                    <div class = "modal-content">
                        
                        <!--dialog box header-->
                        <div class = "modal-header">
                            
                             <!--dialog box close button-->
                            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                                &times;
                            </button>
            
                            <!--dialog box label--> 
                            <h4 class = "modal-title" id = "addCompanyAccountModalLabel" style="color:#0067BB;">
                                 <b>Company Account</b>
                             </h4>
                     </div>
         
                <!--dialog box body-->
                <div class = "modal-body">
                     <form>
                         <div class="row">
                            <div class="col-sm-4" style="text-align:left;">
                                <span>Company Name</span>
                            </div>  
                             <div class="col-sm-8" style="text-align:left;">
                                <input type="text" id="CompanyName"/>
                            </div>
                        </div>
                         <br />
                         <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>URL</span>
                             </div>
                             <div class="col-sm-8" style="text-align:left;">                        
                                 <input type="url"  id="CompanyURL"/>                                   <!--regex here-->
                             </div>
                         </div>
                         <br />
                         <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>Primary Center</span>
                             </div>
                             <div class="col-sm-8" style="text-align:left">
                                 <select style="width:217px;" id="selectPrimary">
                                     <option value="default">Default</option>                                 <!-- to be edited here-->
                                 </select>
                             </div>
                        </div>
                        <br />
                        <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>Secondary Center</span>
                             </div>
                             <div class="col-sm-8" style="text-align:left">
                                 <select style="width:217px;" id="selectSecondary">
                                     <option value="default">Default</option>                                  <!-- to be edited here-->
                                 </select>
                             </div>
                         </div>    
                     </form>
                 </div>
         
                <!--dialog box footer-->
                <div class = "modal-footer">
                    <!--dialog box add component button-->
                        <button type = "button" class = "btn btn-primary" data-dismiss="modal" id="btnaddCompany" onclick="addCompanyToDbAndView()">
                           Add
                        </button>

                        <!--dialog box Close Button-->
                        <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                           Close
                        </button>
                </div>
            </div>                                                
        </div>                                               
    </div>                                                      
            
    <div class = "modal fade" id = "addDataCenterModal" tabindex = "-1" role = "dialog" aria-labelledby = "addDataCenterModalLabel" aria-hidden = "true" >
                <div class = "modal-dialog">
                    <div class = "modal-content">
                        
                        <!--dialog box header-->
                        <div class = "modal-header">
                            
                             <!--dialog box close button-->
                            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                                &times;
                            </button>
            
                            <!--dialog box label--> 
                            <h4 class = "modal-title" id = "addDataCenterModalLabel" style="color:#0067BB;">
                                 <b>Data Center</b>
                             </h4>
                     </div>
         
                <!--dialog box body-->
                <div class = "modal-body">
                     <form>
                         <div class="row">
                            <div class="col-sm-4" style="text-align:left;">
                                <span>Data Center Name</span>
                            </div>  
                             <div class="col-sm-8" style="text-align:left;">
                                <input type="text" id="DataCenterName"/>
                            </div>
                        </div>
                         <br />
                         <div class="row">
                             <div class="col-sm-4" style="text-align:left;">
                                 <span>Data Center Type</span>
                             </div>
                             <div class="col-sm-8" style="text-align:left;">                        
                                 <select id="selectDataCenterType">
                                     <option value="primary" selected>Primary Data Center</option>
                                     <option value="secondary">Secondary Data Center</option>
                                 </select>
                             </div>
                         </div>    
                     </form>
                 </div>
         
                <!--dialog box footer-->
                <div class = "modal-footer">
                    <!--dialog box add component button-->
                        <button type = "button" class = "btn btn-primary" data-dismiss="modal" id="btnAddDataCenter" onclick="addDataCenterToDb()">
                           Add
                        </button>

                        <!--dialog box Close Button-->
                        <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                           Close
                        </button>
                </div>
            </div>                                                
        </div>                                               
    </div>